*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    color:blueviolet;
    font-style:inherit;
    font-family: 'Trebuchet MS';
}


body{
    background-color: rgb(44, 43, 43);
}

.titulo-lista{
    font-family: 'Trebuchet MS';
    font-size: medium;
}

.texto-comun{
    font-family: 'Trebuchet MS';
}

header{
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255); 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img nav plataforma";
}

header nav ul{
    display: flex;
    list-style-type: none;
    grid-area: nav;
    justify-content: center;
    align-items: center;
    
}

header nav ul li a{
    color: pink;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    font-family: Trebuchet MS;
}

header img{
    width: 10rem;
    grid-area: img;
    border-radius: 15px;
}


header div{
    grid-area: plataforma;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px; 
    font-family: Trebuchet MS;
 }

header div img{
    width: 26px;
}

header div a{   
    text-decoration: none;
    color: pink;
    text-decoration: none;
}


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    border-top: 1px solid white;
    padding: 20px;
}

footer h2{
    color: pink;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-template-areas: 
    "envios redes pago";
    display: flex;
}

footer nav{
color: white;
font-size:small;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header nav ul li a:hover{
    background-color: pink;
    color:black;
}


footer nav li:hover{
    background-color: pink;
    color:black;
}

